/* === Resets === */
*
  border 0
  box-sizing border-box
  margin 0
  padding 0

  &:before, &:after
    box-sizing inherit

button
input
optgroup
select
textarea
  font-size 1rem

button
  appearance none
  background-color transparent
  border 0
  cursor pointer

iframe
  max-width 100%

img
  max-width 100%
  vertical-align bottom

/* === Forms and Inputs === */

$form-input
  border 2px solid #ccc
  border-radius 4px
  font-size 14px
  padding 4px

$form-label
  line-height 28px
  padding 4px 0

$button
  border 2px solid #ccc
  border-radius 4px
  padding 4px

$flex-between
  display flex
  justify-content space-between

@require '../components/App.styl'
@require '../components/forms/AreaInfoForm.styl'
@require '../components/forms/RoomForm.styl'
@require '../components/rooms/RoomList.styl'
@require '../components/rooms/RoomMap.styl'
