.area-info-form
  width 300px

  &__label
    display flex
    justify-content space-between
    line-height 28px /* 2x font size? */
    padding 4px

  &__area-name
  &__file-name
  &__min-level
  &__max-level
  &__author-name
  &__min-level
  &__max-level
    @extend $form-input

  &__update
    @extend $button
    margin-left 50%
    margin-top 12px
    padding 4px 32px
    transform translateX(-50%)
    &:hover
      background-color #f0faf0
