exitRowLabelHeight = 30px
formBorderColor = #ccc

.room-form
  background white
  border 1px solid formBorderColor
  border-radius 4px
  padding 40px 6px 12px
  position absolute
  right 0
  top 0
  width 300px

  &__title
    background-color #eee
    border-bottom 1px solid formBorderColor
    left 0
    height 28px
    padding 6px
    position absolute
    right 0
    top 0

  &__label
    @extend $flex-between
    @extend $form-label

  &__room-name
  &__room-description
    @extend $form-input

  &__checkbox-label
    @extend $form-label
    clear left
    float left
    height exitRowLabelHeight
    padding 0

  &__room-input-label
    @extend $form-label
    float left
    font-size 0
    height exitRowLabelHeight
    margin-left 10px
    padding 0
    &--hidden
      display none

  &__exit-destination-input
    @extend $form-input
    width 40px

  &__controls
    clear both
    margin-left 50%
    padding-top 12px
    transform translateX(-50%)
    width 200px

  &__update
    @extend $button
    padding 4px 32px

  &__delete
  &__cancel
    @extend $button
    margin-left 8px
