.room-form
  position absolute
  right 0
  top 0
  width 300px

  &__label
    @extend $flex-between
    @extend $form-label

  &__checkbox-label
    @extend $form-label


  &__room-name
  &__room-description
    @extend $form-input

  &__update
    @extend $button
    margin-left 50%
    margin-top 12px
    padding 4px 32px
    transform translateX(-50%)
    &:hover
      background-color #f0faf0
